// DescriptionCard.module.scss
.description-card {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 100px #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;  // Yatayda merkezlemek için
}

.circle {
  border-radius: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/leaves-background.jpg');
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
}

.content {
  z-index: 1;
  color: #dbdbdb;
}

.home-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.home-text {
  font-size: 23px;
  line-height: 1.5;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  // Sayfanın tamamını kaplar
  width: 100vw;   // Sayfanın tamamını kaplar
  margin: 0;
}

.button {
  position: center;
  color: white;
  text-decoration: none;
  background-color: #5b940b;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}