.description-card {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 100px #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto; 
  margin-top: 450px;
}

.circle {
  border-radius: 50%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/leaves-background.jpg'); 
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
}

.content {
  z-index: 1;
  color: #e97f42; 
}

.home-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.home-text {
  font-size: 23px;
  line-height: 1.5;
}
