.weather-card {
  position: relative;
  width: 100%;
  max-width: 400px; /* Maksimum genişlik ayarı */
  height: 200px; /* Sabit yükseklik ayarı */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* İçerikleri sağa hizalamak için align-items flex-end olarak ayarlandı */
  text-align: right; /* Metinleri sağa hizalamak için text-align right olarak ayarlandı */
  margin: 20px auto;
  //background-image: url('../assets/images/leaves-background.jpg'); /* Arka plan resmi eklendi */
  color: #a47819; /* Metin rengi */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(80%);
}

.content {
  z-index: 1;
  color: #333; /* İçerik metin rengi */
  padding: 20px;
}

.temperature {
  font-size: 24px;
  margin-bottom: 10px;
}

.condition {
  font-size: 18px;
}

.instruction-text {
  font-size: 14px;
  color: #fffefe; /* Talimat metin rengi */
}

.error-text {
  font-size: 14px;
  color: #ffffff; /* Hata metin rengi */
}
